@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-10">


        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <p>
            Our goal for CampusNabber is to provide college students with the resources necessary <br />
            to connect them with fellow students and buy/sell/exchange their college goods.
        </p>
        <br />
        <h3>Services</h3>

        <p>
            We currently offer CampusNabber service to schools in the Spokane/CDA area.
            <br />


        </p>

    </div>

    <div class="col-md-2 addSpace">
        <div class="col-md-2">
            <div class="col-md-2">

                <div id="sidebar" class="col-md-3 hidden-xs hidden-sm">
                    <!--Big Banner on side-->
                    <div class="banner">
                        <img src="~/Content/banners/160x600.png">
                    </div>
                </div>  <!-- sidebar -->

                <div id="sidebar_mobile_med" class="col-xs-12 hidden-xs hidden-md hidden-lg">
                    <!--Medium banner on bottom-->
                    <img style="margin: 20px 0px">
                    <img src="~/Content/banners/728x90.png">
                </div>  <!-- sidebar_mobile_med -->

                <div id="sidebar_mobile" class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <!--Small banner on bottom-->
                    <img style="margin: 20px 0px">
                    <img src="~/Content/banners/468x60.png">
                </div>  <!-- sidebar_mobile -->

            </div> <!--col2-->
        </div> <!--col2-->

    </div>
</div>

