@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Our goal for CampusNabber is to provide college students with the resources necessary <br />
    to connect them with fellow students and buy/sell/exchange their college goods. </p>
<br />
<h3>Services</h3>

<p>We currently offer CampusNabber service to schools in the Spokane/CDA area. 
    <br />
    
    
</p>
   
