@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Spokane, WA 99208<br />
    <abbr title="Phone">P:</abbr>
    509.xxx.xxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">CNSupport@gmail.com</a><br />
</address>