@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/Transparent_logo_black.png" alt="" height="600" width="600">
    <!--<h1>Campus Nabber</h1>
    <p class="lead">For Students by Students</p>
    <!--Added a conditional statement so that users that are already logged in aren't prompted to register or log in. - ahenry -->
    @if (User.Identity.Name == "")
    {
        <b><a href="/Account/Register/" class="btn btn-primary btn-lg">Register Now! &raquo;</a>             <a href="/Account/Login/" class="btn btn-primary btn-lg">Login! &raquo;</a></b>
    }

</div>