@model CampusNabber.Models.PostXFlagViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post Details</h2>

<h3>@Model.Title</h3>
<table class="table">
    <tr>
        <th>
            Flag Reason
        </th>
        <th>
            Date Flagged
        </th>
    </tr>
    @foreach(var item in Model.Flags)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.flag_reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flag_date)
            </td>
        </tr>
    }
</table>

