
@{
    ViewBag.Title = "Campus Nabber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Flagging Successful</h2>
<hr />
<div class="row">
    <h3>The post has been successfully flagged. An administrator will review the post in question.</h3>
</div>
<div class="row">
    <a class="btn btn-default pull-right" href=@Url.Action("MainMarketView", "MarketPlace")> Return to Marketplace </a>
</div>


