
@{
    ViewBag.Title = "Add Category";
}

<h2>Add Category</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <a class="btn btn-default text-center" href="@Url.Action("CreateMainCategory", "Admin")" style="width:170px;">Create Main Category</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <a class="btn btn-default text-center" href="@Url.Action("CreateSubCategory", "Admin")" style="width:170px;">Create Subcategory</a> 
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

