
@{
    ViewBag.Title = "Block User";
}

<h2>Block User</h2>
<h4>Enter the email address of the user you would like to block.</h4>
@using (Html.BeginForm("FindUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <div class="form-horizontal container">
        <div class="form-group col-md-12">
            @Html.TextBox("email", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submitId" value="Find User" class="btn btn-default" />
            </div>
        </div>
    </div>
}
