
@{
    ViewBag.Title = "Campus Nabber";
}

<h2>Lockout Successful</h2>
<h4>The user @ViewBag.Username was successfully locked out.</h4>
@Html.ActionLink("Back to Admin Tools", "AdminTools", "Admin")

