
@{
    ViewBag.Title = "Unlock Success";
}

<h2>Unlock Successful</h2>
<h4>The user @ViewBag.Username was successfully unlocked.</h4>
@Html.ActionLink("Back to Admin Tools", "AdminTools", "Admin")





