
@{
    ViewBag.Title = "Campus Nabber";
}

<h2>User Not Found</h2>
<hr/>
<h4>We were unable to locate the specified user.</h4>
<div style="height:30px;"></div>
<a class="btn btn-default" href="@Url.Action("AdminTools", "Admin")">Back to Admin Tools</a>
