body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tenPoint{
    font-size:10px;
}

.sixteenPoint{
    font-size:16px;
}

.red{
    background-color:red;
}

.left{
    float:left;
}

#setWidth {
    max-width:361px;
}

#buttonText{
    font-family: "Verdana", Times, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    color: #999999;
}
#buttonText:hover{
    background-color:white;
}
 .formFix{
     padding-top:15px;
     padding-bottom:15px;
 }
 #navFix{
     color: #999999;
     text-decoration:none;
 }
 #navFix:hover{
     color:white;
 }