@model CampusNabber.Models.ProfileModel


@{
    ViewBag.Title = "ProfileView";
}

<h2>Profile View</h2>


@foreach (var element in Model.Posts)
{
    //changed this to annon inner class
    <a href="@Url.Action("Details", "PostItems", new {
            id = element.object_id
        })">
        <p>
            @Html.DisplayFor(m => element.title) @Html.DisplayFor(m => element.description) $@Html.DisplayFor(m => element.price)
        </p>
    </a>

}